@font-face {
  font-family: "HankenGrotesk";
  font-display: swap;
  font-weight: 100 900;
  src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
}

:root {
  /* Primary Colors */
  --clr-primary-100: hsl(0, 100%, 67%);
  --clr-primary-200: hsl(39, 100%, 56%);
  --clr-primary-300: hsl(166, 100%, 37%);
  --clr-primary-400: hsl(234, 85%, 45%);

  /* accent colors */
  --clr-accent-100: hsla(0, 100%, 67%, 20%);
  --clr-accent-200: hsla(39, 100%, 56%, 20%);
  --clr-accent-300: hsla(166, 100%, 37%, 20%);
  --clr-accent-400: hsla(234, 85%, 45%, 20%);

  /* Gradients */
  --clr-gradient-1: hsl(252, 100%, 67%);
  --clr-gradient-2: hsl(241, 81%, 54%);
  --clr-gradient-3: hsla(256, 72%, 46%, 1);
  --clr-gradient-4: hsla(241, 72%, 46%, 0);

  --clr-dropshadow: hsla(224, 30%, 27%, 0.2);

  /* Neutral Colors */
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(221, 100%, 96%);
  --clr-neutral-300: hsl(241, 100%, 89%);
  --clr-neutral-400: hsl(224, 30%, 27%);

  --clr-neutral-text-100: hsla(0, 0%, 100%, 0.7);
  --clr-neutral-text-400: hsla(224, 30%, 27%, 0.5);

  --ff-main: "HankenGrotesk";

  --fs-main: 18px;
  --fw-regular: 500;
  --fw-bold: 700;
  --fw-black: 800;

  --fs-100: 1.125rem;
  --fs-200: 1.25rem;
  --fs-300: 1.5rem;
  --fs-400: 1.75rem;
  --fs-500: 2rem;
  --fs-500: 5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-size: inherit;
}

/* h1,
h2,
h3,
h4,
p {
  margin: 0;
} */

img,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--ff-main);
  font-size: var(--fs-100);
  color: var(--clr-neutral-400);
}

@media (min-width: 768px) {
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
}

.results-section-title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-400);
}

.button {
  color: var(--clr-neutral-100);
  line-height: 1;
  background: var(--clr-neutral-400);
  padding: 1rem 2rem;
  border: none;
  border-radius: 100vh;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(
    180deg,
    var(--clr-gradient-1) 0%,
    var(--clr-gradient-2) 100%
  );
  transition: background 0.3s ease-in-out;
}

.results-summary {
  --border-radius: 2.5rem;
  --padding: 2rem;
  max-width: 46rem;
  display: grid;
}

@media (min-width: 768px) {
  .results-summary {
    margin-inline: 1rem;
    grid-template-columns: 1fr 1fr;
    border-radius: var(--border-radius);
    box-shadow: 0.5rem 1rem 3rem var(--clr-dropshadow);
    overflow: hidden;
  }
}

.results {
  text-align: center;
  color: var(--clr-neutral-text-100);
  padding: var(--padding);

  border-radius: var(--border-radius);
  background: linear-gradient(
    180deg,
    var(--clr-gradient-1) 0%,
    var(--clr-gradient-2) 100%
  );
}

@media (max-width: 768px) {
  .results {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}

.summary {
  padding: var(--padding);
}

.flow-content {
  gap: 1rem;
  align-content: start;
  display: grid;
}

.flow-content[data-flow-space="lg"] {
  gap: 2rem;
}

.results-total-score {
  display: grid;
  place-content: center;
  width: 12rem;
  margin-inline: auto;
  aspect-ratio: 1;
  border-radius: 100vh;
  background: linear-gradient(
    180deg,
    var(--clr-gradient-3) 0%,
    var(--clr-gradient-4) 100%
  );
}

.results-total-score span {
  display: block;
  font-weight: var(--fw-black);
  color: var(--clr-neutral-100);
  font-size: var(--fs-500);
}

.result-ranking {
  color: var(--clr-neutral-100);
  font-weight: var(--fw-bold);
  font-size: var(--fs-400);
}

.results-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--bg);
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--fg);
  gap: 0.75rem;
  font-weight: var(--fw-regular);
}

.flex h4 {
  font-weight: var(--fw-regular);
}

.accent-1 {
  --bg: var(--clr-accent-100);
  --fg: var(--clr-primary-100);
}

.accent-2 {
  --bg: var(--clr-accent-200);
  --fg: var(--clr-primary-200);
}

.accent-3 {
  --bg: var(--clr-accent-300);
  --fg: var(--clr-primary-300);
}

.accent-4 {
  --bg: var(--clr-accent-400);
  --fg: var(--clr-primary-400);
}

.results-items-score {
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-text-400);
}

.results-items-score span {
  color: var(--clr-neutral-400);
}
